@model IEnumerable<SD2_eindopdracht.Models.Subscription>

@{
    ViewData["Title"] = "Index";
}

@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <div class="alert alert-success">
        @ViewBag.SuccessMessage
    </div>
}

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}

<h1>Index</h1>

<p>
    @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
    {
        <a asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearlyItems)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanPeriod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Extensions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyFine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubscriptionPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearlyItems)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanPeriod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Extensions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DailyFine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubscriptionPrice)
            </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }

                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-action="ChangeSubscription" asp-route-id="@item.Id" class="btn btn-primary">Choose or Change</a>
                    }
                </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="StopSubscription">Stop subscription</a>
</div>