@model IEnumerable<SD2_eindopdracht.Models.Item>

@{
    ViewData["Title"] = "Index";
}

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}

<h1>Index</h1>

<p>
    @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
    {
        <a asp-action="Create">Create New</a>
    }
    <div class="d-flex mb-3">
        <div class="mr-2">
            <a asp-action="Sort" asp-route-sortBy="Title" class="btn btn-primary">Sort by Title</a>
        </div>
        <div class="mr-2">
            <a asp-action="Sort" asp-route-sortBy="Category" class="btn btn-primary">Sort by Category</a>
        </div>
        <div class="mr-2">
            <a asp-action="Sort" asp-route-sortBy="AuthorFirstName" class="btn btn-primary">Sort by Authors' first name</a>
        </div>
        <div class="mr-2">
            <a asp-action="Sort" asp-route-sortBy="AuthorLastName" class="btn btn-primary">Sort by Authors' last name</a>
        </div>
        <div class="mr-2">
            <a asp-action="Sort" asp-route-sortBy="YearOfRelease" class="btn btn-primary">Sort by Release Year</a>
        </div>
        <div class="mr-2">
            <a asp-action="Sort" asp-route-sortBy="Stock" class="btn btn-primary">Sort by Stock</a>
        </div>
        <div class="mr-2">
            <a asp-action="Sort" asp-route-sortBy="NoZeroStock" class="btn btn-primary">Hide Unavailable Items</a>
        </div>
    </div>
    <form asp-action="Search" asp-controller="Items" method="get">
        <div class="input-group">
            <input type="text" name="query" class="form-control" placeholder="Search for name, category, year or author">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearOfRelease)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearOfRelease)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    @if (User.Identity.IsAuthenticated && item.Stock > 0) //Only show ability to reservate item if item is in stock
                    {
                        <a asp-action="Reserve" asp-route-id="@item.Id">Reserveer Item</a>
                    }
                </td>
        </tr>
}
    </tbody>
</table>
